.registration__contents__title 新規会員登録
.registration__contents__lists
  .registration__contents__contents__lists__list__mail メールアドレスで登録する
  .registration__contents__contents__lists__list__facebook フェイスブックで登録する
  .registration__contents__contents__lists__list__google グーグルで登録する
