.registration__sign_up
  .registration__header__logo
    =link_to root_path do
      =image_tag "header_logo.png"

  .registration__first
    .registration__first__box
      %h2.registration__first__box__top
        新規会員登録
      .registration__first__box__middle__input
        %ul
          %li
            %button{onclick: "location.href='/signup/step1'", class: "registration__mail"}
              %i.fa.fa-envelope.registration_icon
              メールアドレスで登録する
          %li
            = button_to user_facebook_omniauth_authorize_path, class: "registration__fb" do
              %i.fa.fa-facebook-square.registration_icon
              Facebookで登録する
          %li
            = button_to user_google_oauth2_omniauth_authorize_path, class: "registration__go" do
              = image_tag "go_icon.png", class: "registration_go_icon"
              Googleで登録する
  = render partial: "devise/layout/footer"