.registration__sign_up
  .registration__header__logo
    %button{onclick: "location.href='/'"}
      %img{src: "/assets/header_logo.png"}/

  .registration__first
    .registration__first__box
      %h2.registration__first__box__top 新規会員登録
      .registration__first__box__middle__input
        %ul
          %li
            %button{onclick: "location.href='/regi_first'", class: "registration__mail"}
              %i.fa.fa-envelope.registration_icon
              メールアドレスで登録する
          %li
            %button{onclick: "location.href='#'", class: "registration__fb"}
              %i.fa.fa-facebook-square.registration_icon
              Facebookで登録する
          %li
            %button{onclick: "location.href='#'", class: "registration__go"} 
              %i.fa.fa-google-plus-square.registration_icon
              Googleで登録する



  .registration__footer
    %ul
      %li
        %a{:href => "#"} プライバシーポリシー
      %li
        %a{:href => "#"} メルカリ利用規約
      %li
        %a{:href => "#"} 特定商取引に関数表記
    %button{onclick: "location.href='/'"}
      %img{src: "/assets/footer_logo.png"}/
    %p © 2019 Mercari
