.registration__header
  = render "progress"

.exhibit__after
  .exhibit__after__box
    .exhibit__after__box__name
      %p 会員登録完了
    .exhibit__after__box__text
      %p ありがとうございます。登録が完了しました。
      =link_to "/", class: "exhibit__after__box__next" do
        %p メルカリを始める