.registration__header
  .progress
    =link_to "/" do
      =image_tag "header_logo.png", class: "progress__logo"
    .progress__bar
      .progress__bar__box
        %p.step1 会員情報
        .progress__bar__box__circle#step1
        .step1_bar

      .progress__bar__box
        %p#step2_text 電話番号認証
        .progress__bar__box__circle#step2_circle
        .step2_bar#step2

      .progress__bar__box
        %p#step3_text お届け先住所入力
        .progress__bar__box__circle#step3_circle
        .step3_bar#step3

      .progress__bar__box
        %p#step4_text 支払い方法
        .progress__bar__box__circle#step4_circle
        .step4_bar#step4

      .progress__bar__box
        %p#step5_text 完了
        .progress__bar__box__circle#step5_circle
        .step5_bar#step5

.exhibit__after
  .exhibit__after__box
    .exhibit__after__box__name
      %p 会員登録完了
    .exhibit__after__box__text
      %p ありがとうございます。登録が完了しました。
      =link_to "/", class: "exhibit__after__box__next" do
        %p メルカリを始める