.registration__header

.registration__first
  .registration__first__box
    = form_for @user, url: signup_index_path, method: :post, html: {class: 'step2_kari'} do |f|
      .field.registration__first__box__middle__input
        .field-label.registration__first__box__middle__input__name
          = f.submit "次へ進む", class: "last_submit"

  = render partial: "devise/layout/footer"