.registration__header
  .progress
    =link_to "/" do
      =image_tag "header_logo.png", class: "progress__logo"
    .progress__bar
      .progress__bar__box
        %p.step1 会員情報
        .progress__bar__box__circle#step1
        .step1_bar

      .progress__bar__box
        %p#step2_text 電話番号認証
        .progress__bar__box__circle#step2_circle
        .step2_bar#step2

      .progress__bar__box
        %p#step3_text お届け先住所入力
        .progress__bar__box__circle#step3_circle
        .step3_bar#step3

      .progress__bar__box
        %p#step4_text 支払い方法
        .progress__bar__box__circle#step4_circle
        .step4_bar#step4

      .progress__bar__box
        %p#step5_text 完了
        .progress__bar__box__circle#step5_circle
        .step5_bar#step5

.registration__first
  .registration__first__box
    = form_for "", url: set_signup_index_path, method: :get, html: {class: 'step2_kari'} do |f|
      %h2.registration__first__box__top 支払い方法
      %form.registration__first__box__middle{action: "#"}
        .registration__first__box__middle__input
          .registration__first__box__middle__input__name
            カード番号
            %span 必須
          %input{placeholder: "  半角数字のみ"}
          =image_tag "card_list.png", class: "card_list"
        .registration__first__box__middle__input
          .registration__first__box__middle__input__name
            有効期限
            %span 必須
          .registration__first__box__middle__input__double__card
            %select
              %option 01
              %option 02
              %option 03
              %option 04
              %option 05
              %option 06
              %option 07
              %option 08
              %option 09
              %option 10
              %option 11
              %option 12
            %span 月
            %select
              %option 19
              %option 20
              %option 21
              %option 22
              %option 23
              %option 24
              %option 25
              %option 26
              %option 27
              %option 28
              %option 29
            %span 年
        .registration__first__box__middle__input
          .registration__first__box__middle__input__name
            セキュリティコード
            %span 必須
          %input{placeholder: "カード背面4桁もしくは3桁の番号"}
          %a{href: "#"} カード裏面の番号とは？
          -# %button{type: "submit", onclick: "location.href='#"} 次へ進む
        .registration__first__box__middle__input
          .actions
            = f.submit "次へ進む", class: 'last_submit'

  = render partial: "devise/layout/footer"