= render "/items/header"

.wrapper_mypage
  .wrapper_box
    = render 'side_bar'
    
    .main
      .main__title
        出品した商品
      .main__middle_menu
        .main__middle_menu__tabs
          %p.infomation
            出品中
          %p.to_do
            取引中
          -# 売約済みも追加する

        .main__middle_menu__list
          %ul
            %li.main__middle_menu__list__content
              =image_tag "mypage_logo.png", class: "main__middle_menu__list__mercari_logo"
              .main__middle_menu__list__box
                -# - @items.each do |item|
                  .main__middle_menu__list__message
                    -# = link_to "items/#{item.current_user.id}", method: :get do
                    -#   = item.item_name
                  .main__middle_menu__list__time_box
                    %i.fa.fa-clock-o
                    %span
                      5 時間前
                %i.fa.fa-chevron-right
            %li.main__middle_menu__list__content
              =image_tag "mypage_logo.png", class: "main__middle_menu__list__mercari_logo"
              .main__middle_menu__list__box
                .main__middle_menu__list__message
                  商品名
                .main__middle_menu__list__time_box
                  %i.fa.fa-clock-o
                  %span
                    5 時間前
              %i.fa.fa-chevron-right
            %li.main__middle_menu__list__content
              =image_tag "mypage_logo.png", class: "main__middle_menu__list__mercari_logo"
              .main__middle_menu__list__box
                .main__middle_menu__list__message
                  商品名
                .main__middle_menu__list__time_box
                  %i.fa.fa-clock-o
                  %span
                    5 時間前
              %i.fa.fa-chevron-right
            %li.main__middle_menu__list__content
              =image_tag "mypage_logo.png", class: "main__middle_menu__list__mercari_logo"
              .main__middle_menu__list__box
                .main__middle_menu__list__message
                  商品名
                .main__middle_menu__list__time_box
                  %i.fa.fa-clock-o
                  %span
                    5 時間前
              %i.fa.fa-chevron-right
            %li.main__middle_menu__list__content
              =image_tag "mypage_logo.png", class: "main__middle_menu__list__mercari_logo"
              .main__middle_menu__list__box
                .main__middle_menu__list__message
                  商品名
                .main__middle_menu__list__time_box
                  %i.fa.fa-clock-o
                  %span
                    5 時間前
              %i.fa.fa-chevron-right

            %li.go_mypage_list
              %p
                一覧を見る

= render "/items/footer" 