= render "/items/header"

-# 以下、細かい未処理カ所
-# サイドバーにhoverした時の＞の動き
-# メインメニューの背景画像とユーザ画像設置
-# メインメニュータブの切り替え
-# middle_menu_listにメルカリアイコン設置
-# 取引中にメルカリのアイコン設置

.wrapper_mypage
  .wrapper_box
    = render 'side_bar'

    .main
      .main__top_contents
        .main__top_contents__box
          .main__top_contents__box__image
          .main__top_contents__box__nickname
            = current_user.name
          .main__top_contents__box__status
            .main__top_contents__box__status__evaluation
              評価
              %span
                33
            .main__top_contents__box__status__exhibits
              出品数
              %span
                58
      .main__middle_menu
        .main__middle_menu__tabs
          %p.infomation
            お知らせ
          %p.to_do
            やることリスト
        .main__middle_menu__list
          %ul
            %li.main__middle_menu__list__content
              =image_tag "mypage_logo.png", class: "main__middle_menu__list__mercari_logo"
              .main__middle_menu__list__box
                .main__middle_menu__list__message
                  事務局から個別メッセージ「Googleログイン通知」
                .main__middle_menu__list__time_box
                  %i.fa.fa-clock-o
                  %span
                    5 時間前
              %i.fa.fa-chevron-right
            %li.main__middle_menu__list__content
              =image_tag "mypage_logo.png", class: "main__middle_menu__list__mercari_logo"
              .main__middle_menu__list__box
                .main__middle_menu__list__message
                  事務局から個別メッセージ「Googleログイン通知」
                .main__middle_menu__list__time_box
                  %i.fa.fa-clock-o
                  %span
                    5 時間前
              %i.fa.fa-chevron-right
            %li.main__middle_menu__list__content
              =image_tag "mypage_logo.png", class: "main__middle_menu__list__mercari_logo"
              .main__middle_menu__list__box
                .main__middle_menu__list__message
                  事務局から個別メッセージ「Googleログイン通知」
                .main__middle_menu__list__time_box
                  %i.fa.fa-clock-o
                  %span
                    5 時間前
              %i.fa.fa-chevron-right
            %li.main__middle_menu__list__content
              =image_tag "mypage_logo.png", class: "main__middle_menu__list__mercari_logo"
              .main__middle_menu__list__box
                .main__middle_menu__list__message
                  事務局から個別メッセージ「Googleログイン通知」
                .main__middle_menu__list__time_box
                  %i.fa.fa-clock-o
                  %span
                    5 時間前
              %i.fa.fa-chevron-right
            %li.main__middle_menu__list__content
              =image_tag "mypage_logo.png", class: "main__middle_menu__list__mercari_logo"
              .main__middle_menu__list__box
                .main__middle_menu__list__message
                  事務局から個別メッセージ「Googleログイン通知」
                .main__middle_menu__list__time_box
                  %i.fa.fa-clock-o
                  %span
                    5 時間前
              %i.fa.fa-chevron-right

            %li.go_mypage_list
              %p
                一覧を見る
      .main__bottom_menu
        .main__bottom_menu__title
          購入した商品
          -# = @items.Item.find(current_user.id)
        .main__bottom_menu__tabs
          %p.transaction_now
            取引中
          %p.transaction_before
            過去の取引
      -# = fa_icon 'fa-chevron-right',class:"side_bar_icon"
      -# %i.fa.fa-chevron-right
          -# =link_to "", class: "side_menu_content" do
          -#   .side_bar_box
          -#     %li.side_bar_box__name マイページ
          -#     = fa_icon 'chevron-right',class:"migi"

= render "/items/footer" 