= render "/items/header"

.wrapper_mypage
  .wrapper_box
    = render 'side_bar'

    .trade_main
      .trade_main__top
        取引画面
      .trade_main__middle
        .trade_main__middle__message
          %i.fa.fa-check
          %span
            取引きが完了しました
        .trade_main__middle__info
          このたびはメルカリのご利用ありがとうございました
      .trade_main__line
        販売代金の受け取りについて ＞
      .trade_main__bottom
        .trade_main__bottom__btn_sold
          =link_to 'この商品を削除する',"/items/#{@item.id}",method: :delete
      .trade_main__last_message
        取引完了後、２週間経過または最新取引メッセージから２週間経過したため、取引メッセージを非公開にしました。

= render "/items/footer"