<div class="sign_in__page">
  <div class="sign_in__header">
    <p class="sign_in__logo">ロゴ</p>
  </div>

  <div class="sign_in__main">
    <div class="sign_in__main__panel">

      <div class="sign_in__main__panel__acount">
        <p>アカウントをお持ちでない方はこちら</p>
        <a href="#">新規会員登録</a>
      </div>

      <div class="sign_in__main__panel__other">
        <button class="sign_in__main__panel__other__fb">Facebookでログイン</button>
        <button class="sign_in__main__panel__other__go">Googleでログイン</button>
      </div>

      <form class="sign_in__main__panel_form">
        <div>
          <input type="text" placeholder="メールアドレス"><br>
          <input type="text" placeholder="パスワード">
          <div>私はロボットではありません</div>
          <button>ログイン</button>
          <a href="#"><p>パスワードをお忘れの方</p></a>
        </div>
      </form>

    </div>
  </div>

  <div class="sign_in__footer">
    <ul>
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">メルカリ利用規約</a></li>
      <li><a href="#">特定商取引に関数表記</a></li>
    </ul>
    <p>ロゴ</p>
    <p>© 2019 Mercari</p>
  </div>

</div>