%footer
  .footer
    .footer__upper
      =image_tag "footer_img.png", class: "footer__img"
      .fortunetelling
    .footer__mid
      .footer__list__about
        %h2 メルカリについて
        %ul.no_circle
          %li 会社概要（運営会社）
          %li 採用情報
          %li プレスリリース
          %li 公式ブログ
          %li メルカリロゴ利用ガイドライン
          .footer__logo__sns
            =link_to "https://twitter.com/mercari_jp" do
              %i.fa.fa-twitter
            =link_to "https://www.facebook.com/mercarijp" do
              %i.fa.fa-facebook-square

      ​
      .footer__list__guide
        %h2 ヘルプ＆ガイド
        %ul.no_circle
          %li メルカリガイド
          %li らくらくメルカリ便
          %li ゆうゆうメルカリ便
          %li 大型メルカリ便
          %li 車体取引ガイド
          %li メルカリあんしん・あんぜん宣言！
          %li 偽ブランド品撲滅への取り組み
          %li メルカリボックス
      ​
      .footer__list__privacy_and_rule
        %h2 プライバシーと利用規約
        .footer__list__privacy
          %ul.no_circle
            %li プライバシーポリシー
            %li メルカリ利用規約
            %li あんしんスマホサポート制度に関する利用特約
            %li コンプライアンスポリシー
        ​
      .footer__list__rule
        %h2{ style: "color:rgb(34,34,34)" }٩(๑❛ᴗ❛๑)۶
        %ul.no_circle
          %li 個人データの安全管理に係る基本方針
          %li 特定商取引に関する表記
          %li 資金決済法に基づく表示
          %li 法令順守と犯罪抑止のために
        ​
      .footer__list__country
        %h2 国
        %ul.no_circle
          %li 日本
          %li United States

    .footer__lower
      =link_to "/" do
        =image_tag "top_footer_logo.png", class: "footer__logo"
      %span.footer__copyright © 2019 Mercari
