.header__nav
  .header__menu
  .header__puru
    %ul#parent_list
      - @parent_list.each do |p|
        %li
          = link_to "#{p.name}", "/more/#{p.id}", class: "text"
      %ul#child_list
        %li
      %ul
