.header__nav
  .header__menu 
  .header__puru
    %ul
      %li レディース
      %ul
        %li トップス
        %ul
          %li Tシャツ/カットソー(半袖/袖なし)
          %li Tシャツ/カットソー(七分/長袖)
          %li シャツ/ブラウス(半袖/袖なし)
          %li シャツ/ブラウス(七分/長袖)
          %li ポロシャツ
          %li キャミソール
          %li タンクトップ
          %li ホルターネック
          %li ニット/セーター
          %li チュニック
          %li カーディガン/ボレロ
          %li アンサンブル
          %li ベスト/ジレ
          %li パーカー
        %li ジャケット/アウター
        %ul
          %li テーラードジャケット
          %li ノーカラージャケット
          %li Gジャン/デニムジャケット
          %li レザージャケット
          %li ダウンジャケット
          %li ライダージャケット
          %li ミリタリージャケット
          %li ダウンベスト
          %li ジャンパー/ブルゾン
          %li ポンチョ
          %li ロングコート
          %li トレンチコート
          %li ダッフルコート
          %li ピーコート
        %li パンツ
        %ul
          %li デニム/ジーンズ
          %li ショートパンツ
          %li カジュアルパンツ
          %li ハーフパンツ
          %li チノパン
          %li ワークパンツ/カーゴパンツ
          %li クロップドパンツ
          %li サロペット/オーバーオール
          %li オールインワン
          %li サルエルパンツ
          %li ガウチョパンツ
          %li その他
        %li スカート
        %ul
          %li ミニスカート
          %li ひざ丈スカート
          %li ロングスカート
          %li キュロット
          %li その他
        %li ワンピース
        %ul
          %li ミニワンピース
          %li ひざ丈ワンピース
          %li ロングワンピース
          %li その他
        %li 靴
        %ul
          %li ハイヒール/パンプス
          %li ブーツ
          %li サンダル
          %li スニーカー
          %li ミュール
          %li モカシン
          %li ローファー/革靴
          %li フラットシューズ/バレエシューズ
          %li 長靴/レインシューズ
          %li その他
        %li ルームウェア/パジャマ
        %ul
          %li パジャマ
          %li ルームウェア
        %li レッグウェア
        %ul
          %li ソックス
          %li スパッツ/レギンス
          %li ストッキング/タイツ
          %li レッグウォーマー
          %li その他
        %li 帽子
        %ul
          %li ニットキャップ/ビーニー
          %li ハット
          %li ハンチング/ベレー帽
          %li キャップ
          %li キャスキット
          %li 麦わら帽子
          %li その他
        %li バッグ
        %ul
          %li ハンドバッグ
          %li トートバッグ
          %li エコバッグ
          %li リュック/バックパック
          %li ボストンバッグ
          %li スポーツバッグ
          %li クラッチバッグ
          %li ポーチ/バニティ
          %li ボディバッグ/ウェストバッグ
          %li マザーズバッグ
          %li メッセンジャーバッグ
          %li ビジネスバッグ
          %li 旅行用バッグ/キャリーバッグ
        %li アクセサリー
        %ul
          %li ネックレス
          %li ブレスレット
          %li バングル/リストバンド
          %li リング
          %li ピアス(片耳用)
          %li ピアス(両耳用)
          %li イヤリング
          %li アンクレット
          %li ブローチ/コサージュ
          %li チャーム
          %li その他
        %li ヘアアクセサリー
        %ul
          %li ヘアゴム/シュシュ
          %li ヘアバンド/カチューシャ
          %li ヘアピン
          %li その他
        %li 小物
        %ul
          %li 長財布
          %li 折り財布
          %li コインケース/小銭入れ
          %li キーケース
          %li キーホルダー
          %li 手袋/アームカバー
          %li ハンカチ
          %li ベルト
          %li マフラー/ショール
          %li ストール/スヌード
          %li バンダナ/スカーフ
          %li ネックウォーマー
          %li サスペンダー
        %li 時計
        %ul
          %li 腕時計(アナログ)
          %li 腕時計(デジタル)
          %li ラバーベルト
          %li レザーベルト
          %li 金属ベルト
          %li その他
      %li メンズ
      %ul
        %li トップス
        %ul
          %li Tシャツ/カットソー(半袖/袖なし)
          %li Tシャツ/カットソー(七分/長袖)
          %li シャツ
          %li ポロシャツ
          %li タンクトップ
          %li ニット/セーター
          %li パーカー
          %li カーディガン
          %li スウェット
          %li ジャージ
          %li ベスト
          %li その他
        %li ジャケット/アウター
        %ul
          %li テーラードジャケット
          %li ノーカラージャケット
          %li Gジャン/デニムジャケット
          %li レザージャケット
          %li ダウンジャケット
          %li ライダージャケット
          %li ミリタリージャケット
          %li ナイロンジャケット
          %li フライトジャケット
          %li ダッフルコート
          %li ピーコート
          %li ステンカラーコート
          %li トレンチコート
          %li モッズコート
        %li パンツ
        %ul
          %li デニム/ジーンズ
          %li ワークパンツ/カーゴパンツ
          %li スラックス
          %li チノパン
          %li ショートパンツ
          %li ペインターパンツ
          %li サルエルパンツ
          %li オーバーオール
          %li その他
        %li 靴
        %ul
          %li スニーカー
          %li サンダル
          %li ブーツ
          %li モカシン
          %li ドレス/ビジネス
          %li 長靴/レインシューズ
          %li デッキシューズ
          %li その他
        %li バッグ
        %ul
          %li ショルダーバッグ
          %li トートバッグ
          %li ボストンバッグ
          %li リュック/バックパック
          %li ウエストポーチ
          %li ボディーバッグ
          %li ドラムバッグ
          %li ビジネスバッグ
          %li トラベルバッグ
          %li メッセンジャーバッグ
          %li エコバッグ
          %li その他
        %li スーツ
        %ul
          %li スーツジャケット
          %li スーツベスト
          %li スラックス
          %li セットアップ
          %li その他
        %li 帽子
        %ul
          %li キャップ
          %li ハット
          %li ニットキャップ/ビーニー
          %li キャスケット
          %li サンバイザー
          %li その他
        %li アクセサリー
        %ul
          %li ネックレス
          %li ブレスレット
          %li バングル/リストバンド
          %li リング
          %li ピアス(片耳用)
          %li ピアス(両耳用)
          %li アンクレット
          %li その他
        %li 小物
        %ul
          %li 長財布
          %li 折り財布
          %li マネークリップ
          %li コインケース/小銭入れ
          %li 名刺入れ/定期入れ
          %li キーケース
          %li キーホルダー
          %li ネクタイ
          %li 手袋
          %li ハンカチ
          %li ベルト
          %li マフラー
          %li ストール
          %li バンダナ
        %li 時計
        %ul
          %li 腕時計(アナログ)
          %li 腕時計(デジタル)
          %li ラバーベルト
          %li レザーベルト
          %li 金属ベルト
          %li その他
        %li 水着
        %ul
          %li 一般水着
          %li スポーツ用
          %li アクセサリー
          %li その他
        %li レッグウェア
        %ul
          %li ソックス
          %li レギンス/スパッツ
          %li レッグウォーマー
          %li その他
        %li アンダーウェア
        %ul
          %li トランクス
          %li ボクサーパンツ
          %li その他
        %li その他
      %li ベビー・キッズ
      %ul
        %li ベビー服(女の子用) ~95cm
        %ul
          %li トップス
          %li アウター
          %li パンツ
          %li スカート
          %li ワンピース
          %li ベビードレス
          %li おくるみ
          %li 下着/肌着
          %li パジャマ
          %li ロンパース
          %li その他
        %li ベビー服(男の子用) ~95cm
        %ul
          %li 3-2-1
          %li 3-2-2
          %li 3-2-3
          %li 3-2-4
          %li 3-2-5
        %li ベビー服(男女兼用) ~95cm
        %ul
          %li 3-3-1
          %li 3-3-2
          %li 3-3-3
          %li 3-3-4
          %li 3-3-5
        %li キッズ服(女の子用) ~100cm
        %ul
          %li 3-4-1
          %li 3-4-2
          %li 3-4-3
          %li 3-4-4
          %li 3-4-5
        %li キッズ服(男の子用) ~100cm
        %ul
          %li 3-5-1
          %li 3-5-2
          %li 3-5-3
          %li 3-5-4
          %li 3-5-5
        %li キッズ服(男女兼用) ~100cm
        %ul
          %li 3-5-1
          %li 3-5-2
          %li 3-5-3
          %li 3-5-4
          %li 3-5-5
        %li キッズ靴
        %ul
          %li 3-5-1
          %li 3-5-2
          %li 3-5-3
          %li 3-5-4
          %li 3-5-5
        %li 子ども用ファッション小物
        %ul
          %li 3-5-1
          %li 3-5-2
          %li 3-5-3
          %li 3-5-4
          %li 3-5-5
        %li おむつ/トイレ/バス
        %ul
          %li 3-5-1
          %li 3-5-2
          %li 3-5-3
          %li 3-5-4
          %li 3-5-5
        %li 外出/移動用品
        %ul
          %li 3-5-1
          %li 3-5-2
          %li 3-5-3
          %li 3-5-4
          %li 3-5-5
        %li 授乳/食事
        %ul
          %li 3-5-1
          %li 3-5-2
          %li 3-5-3
          %li 3-5-4
          %li 3-5-5
        %li ベビー家具/寝具/室内用品
        %ul
          %li 3-5-1
          %li 3-5-2
          %li 3-5-3
          %li 3-5-4
          %li 3-5-5
        %li おもちゃ
        %ul
          %li 3-5-1
          %li 3-5-2
          %li 3-5-3
          %li 3-5-4
          %li 3-5-5
        %li 行事/記念品
        %ul
          %li 3-5-1
          %li 3-5-2
          %li 3-5-3
          %li 3-5-4
          %li 3-5-5
      %li インテリア・住まい・小物
      %ul
        %li キッチン/食器
        %ul
          %li 食器
          %li 調理器具
          %li 収納/キッチン雑貨
          %li 弁当用品
          %li カトラリー(スプーン等)
          %li テーブル用品
          %li 容器
          %li エプロン
          %li アルコールグッズ
          %li 浄水機
          %li その他
        %li ベッド/マットレス
        %ul
          %li 4-2-1
          %li 4-2-2
          %li 4-2-3
          %li 4-2-4
          %li 4-2-5
        %li ソファ/ソファベッド
        %ul
          %li 4-3-1
          %li 4-3-2
          %li 4-3-3
          %li 4-3-4
          %li 4-3-5
        %li 椅子/チェア
        %ul
          %li 4-4-1
          %li 4-4-2
          %li 4-4-3
          %li 4-4-4
          %li 4-4-5
        %li 机/テーブル
        %ul
          %li 4-5-1
          %li 4-5-2
          %li 4-5-3
          %li 4-5-4
          %li 4-5-5
        %li 収納家具
        %ul
          %li 4-5-1
          %li 4-5-2
          %li 4-5-3
          %li 4-5-4
          %li 4-5-5
        %li ラグ/カーペット/マット
        %ul
          %li 4-5-1
          %li 4-5-2
          %li 4-5-3
          %li 4-5-4
          %li 4-5-5
        %li カーテン/ブラインド
        %ul
          %li 4-5-1
          %li 4-5-2
          %li 4-5-3
          %li 4-5-4
          %li 4-5-5
        %li ライト/照明
        %ul
          %li 4-5-1
          %li 4-5-2
          %li 4-5-3
          %li 4-5-4
          %li 4-5-5
        %li 寝具
        %ul
          %li 4-5-1
          %li 4-5-2
          %li 4-5-3
          %li 4-5-4
          %li 4-5-5
        %li インテリア小物
        %ul
          %li 4-5-1
          %li 4-5-2
          %li 4-5-3
          %li 4-5-4
          %li 4-5-5
        %li 季節/年中行事
        %ul
          %li 4-5-1
          %li 4-5-2
          %li 4-5-3
          %li 4-5-4
          %li 4-5-5
        %li その他
        %ul
          %li 4-5-1
          %li 4-5-2
          %li 4-5-3
          %li 4-5-4
          %li 4-5-5
      %li 本・音楽・ゲーム
      %ul
        %li 本
        %ul
          %li 文学/小説
          %li 人文/社会
          %li ノンフィクッション/教養
          %li 地図/旅行ガイド
          %li ビジネス/経済
          %li 健康/医学
          %li コンピューター/IT
          %li 趣味/スポーツ/実用
          %li 住まい/暮らし/子育て
          %li アート/エンタメ
          %li 洋書
          %li 絵本
          %li 参考書
          %li その他
        %li 漫画
        %ul
          %li 5-2-1
          %li 5-2-2
          %li 5-2-3
          %li 5-2-4
          %li 5-2-5
        %li 雑誌
        %ul
          %li 5-3-1
          %li 5-3-2
          %li 5-3-3
          %li 5-3-4
          %li 5-3-5
        %li CD
        %ul
          %li 5-4-1
          %li 5-4-2
          %li 5-4-3
          %li 5-4-4
          %li 5-4-5
        %li DVD/ブルーレイ
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li レコード
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li テレビゲーム
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
      %li おもちゃ・ホビー・グッズ
      %ul
        %li おもちゃ
        %ul
          %li キャラクターグッズ
          %li ぬいぐるみ
          %li 小物/アクセサリー
          %li 模型/プラモデル
          %li ミニカー
          %li トイラジコン
          %li プラモデル
          %li ホビーラジコン
          %li 鉄道模型
          %li その他
        %li タレントグッズ
        %ul
          %li 5-2-1
          %li 5-2-2
          %li 5-2-3
          %li 5-2-4
          %li 5-2-5
        %li コミック/アニメグッズ
        %ul
          %li 5-3-1
          %li 5-3-2
          %li 5-3-3
          %li 5-3-4
          %li 5-3-5
        %li トレーディングカード
        %ul
          %li 5-4-1
          %li 5-4-2
          %li 5-4-3
          %li 5-4-4
          %li 5-4-5
        %li フィギュア
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li 楽器/器材
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li コレクション
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li ミリタリー
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li 美術品
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li アート用品
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li その他
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
      %li コスメ・香水・美容
      %ul
        %li ベースメイク
        %ul
          %li ファンデーション
          %li 化粧下地
          %li コントロールカラー
          %li BBクリーム
          %li CCクリーム
          %li コンシーラー
          %li フェイスパウダー
          %li トライアルセット/サンプル
          %li その他
        %li メイクアップ
        %ul
          %li 5-2-1
          %li 5-2-2
          %li 5-2-3
          %li 5-2-4
          %li 5-2-5
        %li ネイルケア
        %ul
          %li 5-3-1
          %li 5-3-2
          %li 5-3-3
          %li 5-3-4
          %li 5-3-5
        %li 香水
        %ul
          %li 5-4-1
          %li 5-4-2
          %li 5-4-3
          %li 5-4-4
          %li 5-4-5
        %li スキンケア/基礎化粧品
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li ヘアケア
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li ボディケア
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li オーラルケア
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li リラクゼーション
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li ダイエット
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li その他
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
      %li 家電・スマホ・カメラ
      %ul
        %li スマートフォン/携帯電話
        %ul
          %li スマートフォン本体
          %li バッテリー/充電器
          %li 携帯電話本体
          %li PHS本体
          %li その他
        %li スマホアクセサリー
        %ul
          %li 5-2-1
          %li 5-2-2
          %li 5-2-3
          %li 5-2-4
          %li 5-2-5
        %li PC/タブレット
        %ul
          %li 5-3-1
          %li 5-3-2
          %li 5-3-3
          %li 5-3-4
          %li 5-3-5
        %li カメラ
        %ul
          %li 5-4-1
          %li 5-4-2
          %li 5-4-3
          %li 5-4-4
          %li 5-4-5
        %li テレビ/映像機器
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li オーディオ機器
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li 美容/健康
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li 冷暖房/空調
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li 生活家電
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li その他
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
      %li スポーツ・レジャー
      %ul
        %li ゴルフ
        %ul
          %li クラブ
          %li ウエア(男性用)
          %li ウエア(女性用)
          %li バッグ
          %li シューズ(男性用)
          %li シューズ(女性用)
          %li アクセサリー
          %li その他
        %li フィッシング
        %ul
          %li 5-2-1
          %li 5-2-2
          %li 5-2-3
          %li 5-2-4
          %li 5-2-5
        %li 自転車
        %ul
          %li 5-3-1
          %li 5-3-2
          %li 5-3-3
          %li 5-3-4
          %li 5-3-5
        %li トレーニング/エクササイズ
        %ul
          %li 5-4-1
          %li 5-4-2
          %li 5-4-3
          %li 5-4-4
          %li 5-4-5
        %li 野球
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li サッカー/フットサル
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li テニス
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li スノーボード
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li スキー
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li その他スポーツ
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li アウトドア
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li その他
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
      %li ハンドメイド
      %ul
        %li アクセサリー(女性用)
        %ul
          %li ピアス
          %li イヤリング
          %li ネックレス
          %li ブレスレット
          %li リング
          %li チャーム
          %li ヘアゴム
          %li アンクレット
          %li その他
        %li ファッション/小物
        %ul
          %li 5-2-1
          %li 5-2-2
          %li 5-2-3
          %li 5-2-4
          %li 5-2-5
        %li アクセサリー/時計
        %ul
          %li 5-3-1
          %li 5-3-2
          %li 5-3-3
          %li 5-3-4
          %li 5-3-5
        %li 日用品/インテリア
        %ul
          %li 5-4-1
          %li 5-4-2
          %li 5-4-3
          %li 5-4-4
          %li 5-4-5
        %li 趣味/おもちゃ
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li キッズ/ベビー
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li 素材/材料
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li 二次創作物
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li その他
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
      %li チケット
      %ul
        %li 音楽
        %ul
          %li 男性アイドル
          %li 女性アイドル
          %li 韓流
          %li 国内アーティスト
          %li 海外アーティスト
          %li 音楽フェス
          %li 声優/アニメ
          %li その他
        %li スポーツ
        %ul
          %li 5-2-1
          %li 5-2-2
          %li 5-2-3
          %li 5-2-4
          %li 5-2-5
        %li 演劇/芸能
        %ul
          %li 5-3-1
          %li 5-3-2
          %li 5-3-3
          %li 5-3-4
          %li 5-3-5
        %li イベント
        %ul
          %li 5-4-1
          %li 5-4-2
          %li 5-4-3
          %li 5-4-4
          %li 5-4-5
        %li 映画
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li 施設利用券
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li 優待券/割引券
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li その他
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
      %li 自転車・オートバイ
      %ul
        %li 自転車本体
        %ul
          %li 国内自動車本体
          %li 外国自動車本体
        %li 自動車タイヤ/ホイール
        %ul
          %li 5-2-1
          %li 5-2-2
          %li 5-2-3
          %li 5-2-4
          %li 5-2-5
        %li 自動車パーツ
        %ul
          %li 5-3-1
          %li 5-3-2
          %li 5-3-3
          %li 5-3-4
          %li 5-3-5
        %li 自動車アクセサリー
        %ul
          %li 5-4-1
          %li 5-4-2
          %li 5-4-3
          %li 5-4-4
          %li 5-4-5
        %li オートバイ車体
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li オートバイパーツ
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li オートバイアクセサリー
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
      %li その他
      %ul
        %li まとめ売り
        %ul
        %li ペット用品
        %ul
          %li ペットフード
          %li 犬用品
          %li 猫用品
          %li 魚用品/水草
          %li 小動物用品
          %li 爬虫類/両生類用品
          %li かご/おり
          %li 鳥用品
          %li 虫類用品
          %li その他
        %li 食品
        %ul
          %li 5-3-1
          %li 5-3-2
          %li 5-3-3
          %li 5-3-4
          %li 5-3-5
        %li 飲料/酒
        %ul
          %li 5-4-1
          %li 5-4-2
          %li 5-4-3
          %li 5-4-4
          %li 5-4-5
        %li 日用品/生活雑貨/旅行
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li アンティーク/コレクション
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li 文房具/事務用品
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li 事務/店舗用品
        %ul
          %li 5-5-1
          %li 5-5-2
          %li 5-5-3
          %li 5-5-4
          %li 5-5-5
        %li その他
        %ul
      %li カテゴリー一覧
