.exhibit__after
  .exhibit__after__box
    .exhibit__after__box__name
      %p 出品が完了しました
    .exhibit__after__box__text
      %p あなたが出品した商品は「出品した商品一覧」からいつでも見る事ができます。
      =link_to new_item_path class: "exhibit__after__box__next" do
        %p 続けて出品する
      %p 商品ページへ行ってシェアする


