.exhibit {
  &__main {
    background:#f5f5f5;
    height: 100%;
    // overflow: scroll;
  }
  &__contents {
    background: white;
    margin: 0 auto;
    // height: 100%;
    width: 700px;
  }
  // 商品の情報
  &__infomation {
    height: 96px;
    border-width: 0;
    > p {
      text-align: center;
      font-size: 22px;
      line-height: 96px;
      font-weight: bold;
    }
  }
  // 商品のアップロード２段目
  &__upload{
    // background: pink;
    height: 301px;
    padding: 40px;
    border-top: solid 1px;
    &_head{
      display: flex;
      // background: red;
    }
    &_image{
      width: 100%;
      height: calc(100% - 84px);
      background: #f5f5f5;
      padding: 40px;
      border:dotted 2px;
      >label{
        > div{
          // background:red;
          width:100%;
          height:100%;
          cursor: pointer;
          > p {
            text-align:center;
          }
        }
        > input{
          display: none;
        }
      }
    }
  }
  // 商品の説明３段目
  &__explanation{
    // background:blueviolet;
    height: 352px;
    padding: 40px;
    border-top: solid 1px;
    &__title{
      // background:pink;
      &_head{
        display:flex;
        font-size: 14px;
      }
      &_field{
        // background: springgreen;
        // height: 48px;
        // margin-top: 8px;
        // padding:10px 16px 8px;
        // border-radius: 4px;
        > input {
          font-size: 16px;
          display: block;
          width: 100%;
          height: 48px;
          margin-top: 8px;
          padding:10px 16px 8px;
          border-radius: 4px;
        }
      }
    }
    &__detail{
      // background:pink;
      margin-top: 40px;
      &_head{
        display:flex;
        font-size: 14px;
      }
      &_field{
        // background: springgreen;
        > textarea {
          font-size: 16px;
          height: 127px;
          width: 100%;
          margin-top: 8px;
          padding: 10px;
          border: 1px solid #ccc;
        }
      }
    }
  }
  // 商品の詳細４段目
  &__detail{
  // height: 261px;
  padding: 40px;
  border-top: solid 1px;
    &__container{
      // height: 180px;
      width: 400px;
      float: right;
      &__title{
        &_head{
          display:flex;
          font-size: 14px;
        }
        &_field{
          height: 48px;
          margin-top: 8px;
          padding:10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
      }
      &__detail{
        // background:pink;
        margin-top: 40px;
        &_head{
          display:flex;
          font-size: 14px;
        }
        &_field{
          // background: springgreen;
          height: 48px;
          margin-top: 8px;
          padding: 10px;
          border: 1px solid #ccc;
          > p {
            font-size: 16px;
          }
        }
      }
    }
  }
  
  // 商品の配送方法について 5段目
  &__delivery{
  // background:blueviolet;
  // height: 100%;
  padding: 40px;
  border-top: solid 1px;
  // clear: right;
    &__container{
      // background:red;
      width: 400px;
      float: right;
      &__fee{
        // background:pink;
        &_head{
          display:flex;
          font-size: 14px;
        }
        &_field{
          // background: springgreen;
          height: 48px;
          margin-top: 8px;
          padding:10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          > p {
            font-size: 16px;
          }
        }
      }
      &__shipping_region{
        // background:pink;
        margin-top: 40px;
        &_head{
          display: flex;
          font-size: 14px;
        }
        &_field{
          // background: springgreen;
          height: 48px;
          margin-top: 8px;
          padding: 10px;
          border: 1px solid #ccc;
          > p {
            font-size: 16px;
          }
        }
      }
        &__day{
        // background:pink;
        margin-top: 40px;
        &_head{
          display:flex;
          font-size: 14px;
        }
        &_field{
          // background: springgreen;
          height: 48px;
          margin-top: 8px;
          padding: 10px;
          border: 1px solid #ccc;
          > p {
            font-size: 16px;
          }
        }
      }
    }
  }
  // 商品の価格設定
  &__price{
  // background:blueviolet;
  padding: 40px;
  border-top: solid 1px;
  // height:100%;
    &__container{
      // background:red;
      width: 400px;
      float: right;
      &__fee{
        // background:pink;
        // ここの配置要検討 綺麗なコードを書きたい
        // display: flex;
        // justify-content: flex-end;
        &_head{
          font-size: 14px;
          display: flex;
          float: left;
        }
        &_field{
          // background: springgreen;
          float: right;
          height: 48px;
          width: 200px;
          // margin-top: 8px;
          // padding:10px 16px 8px;
          // padding:10px 0 8px;
          border-radius: 4px;
          // display:flex;
          > span {
            font-size: 14px;
            line-height: 48px;
          }
          > input {
            float: right;
            width:160px;
            height: 48px;
            padding:10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
          }
        }
      }
      &__sale_fee{
        margin-top: 40px;
        &_head{
          > span{
            line-height: 48px;
            font-size: 14px;
            float:left;
          }
        }
        &_field{
          // background: springgreen;
          float: right;
          width:160px;
          height: 48px;
          padding:10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
      }
      
      &__sale_profit{
        margin-top: 40px;
        &_head{
          > span{
            line-height: 48px;
            font-size: 14px;
            float:left;
          }
        }
        &_field{
          // background: springgreen;
          float: right;
          width:160px;
          height: 48px;
          padding:10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
      }
    }
  }
  &__confirmation{
    // background:blueviolet;
    padding: 40px;
    border-top: solid 1px;
    
    &__article{
    
    }
    &__button__display{
      margin: 40px auto 0;
      > a {
        display:block;
        text-align: center;
        background:#ea352d;
        font-size: 14px;
        line-height: 48px;
      }
    }
    &__button__back{
      width: 278px;
      margin: 24px auto 0;
      > a {
        text-align: center;
        background:#b3d4fc;
        font-size: 14px;
        line-height: 48px;
        display:block;
      }
    }
  }
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.select-default {
  width:100%;
  height:100%;
  border-style: none;
  cursor: pointer;
  background:white;
}
.sell-upload-drop-file{
  display:block;
  // display: none;
  width: 100%;
  height: 100%;
}
// .clearfix::after {
//   // content: "";
//   display: block;
//   clear: both;
//   // background:red;
// }