.footer{
  background: rgb(40,40,40);
  color: #ffffff;
  h2{
    font-size:16px;
  }
  &__mid {
    width:1000px;
    display:flex;
    margin:0 auto;
    padding-top:20px;
  }
  & ul {
    margin:10px 10px 0;
  }
  & li {
    font-size:12px;
    opacity: 0.7;
    padding:10px 0;
  }
  &__lower {
    text-align:center;
  }
  span {
    font-size:12px;
  }
}