header {
  width:100vw;
  height:100px;
  border:none;
  border-bottom:solid 1px rgb(240, 240, 240);
  > div {
    width:1020px;
    margin:0 auto;
  }
}

// #header_logo {
//   width:
// }

.header {
  &_top {
    display:flex;
    margin-top:10px;
  }
  &_logo {
    width:150px;
    height:40px; 
    margin-right:45px;
  }
  &_search {
    background:rgb(245,245,245);
    width:100%;
  }
  &_bottom {
    margin-top:18px;
    display:flex;
    justify-content: space-between;
  }
  &_nav {
    display:flex;
    font-size:14px;
    font-weight:bold;
    &_category {
      margin-right:20px;
    }
  }
  &__icon__left {
    color:red;
  }
  &_ragistration {
    display:flex;
  }
  &_sign_up {
    background: rgb(234, 53, 45);
    height:30px;
    line-height:30px;
    padding:0 5px;
    font-size:14px;
    color:white;
    border-radius:5px;
    border:none;
    margin-right:10px;
  }
  &__sign_in {
    background:white;
    color:rgb(0, 149, 238);
    height:30px;
    line-height:30px;
    padding:0 5px;
    font-size:14px;
    border:solid 1px rgb(0, 149, 238);
    border-radius:5px;
    text-decoration:none;
  &:hover {
    background:rgb(0, 149, 238);
    color:white;
    transition: .4s;
    }
  }
}