.top_image{
  height:390px;
  width:100vw;
}

.main_contents{
  background:rgb(239, 239, 239);
  &__box{
    width:100vw;
    &__header{
      background:white;
      height:170px;
      padding: 56px 0 30px;
      &_tittle{
        margin-bottom:16px;
        text-align: center;
        font-size: 28px;
        font-weight:600;
        line-height: 28px;
      }
      &_category{
        &_list{
          display:flex;
          justify-content: center;
          &_num{
          background: rgb(239, 239, 239);
          font-size: 14px;
          font-weight: 600;
          border-radius: 15px;
          padding: 8px 16px;
          margin:10px 0 0 10px;
          cursor: pointer;
          }
        }
      }
    }
  }
}
    //--新着アイテムたち  ここから--//
.main_contents__box__contents{
  background: rgb(239, 239, 239);
  width: 1020px;
  // height: 100vh;
  height: 642px;
  margin:42px auto 0px;
  &__title_box{
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: space-between;
    &__title{
      font-size: 24px;
      font-weight: 600;
      line-height: 1.4em;
    }
    &__motto{
      width: 100px;
      padding:5px 16px 5px 5px;
      font-size: 14px;
      font-weight: 600;
      color: rgb(0, 149,238);
      text-decoration: none;
    }
  }
}

.main_contents__box__contents__items{
  height:600px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  margin-bottom: 18px;
  &__one{
    background:white;   
    width:188px;
    height:252px;
    position: relative;
    &__image{
      background:goldenrod;
      height:188px;
      width:188px;
      &__price{
        background:goldenrod;
        padding: 0 12px;
        position: absolute;
        bottom: 80px;
        border-radius:0 14px 14px 0;
        color:#fff;
        background-color:rgba(0, 0, 0,0.25);
        font-size:17px;
      }
    }       
    &__title{
      height: 62px;
      span {
        padding:12px;
      }
    }
  }
}


.link{
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 149,238);
  text-decoration: none;
}

.exhibit__btn {
  background: rgb(234, 53, 45);
  width:160px;
  height:160px;
  border-radius: 50%;
  text-align:center;
  position: fixed;
  right:40px;
  bottom:40px;
  &__box {
    width:100%;
    height:100%;
  }
  &__name {
    color:#fff;
    font-size:22px;
    padding-top:32px;
  }
  &__icon {
    color:#fff;
    font-size:60px !important;
  }
}