.wrapper {
  &_mypage{
    background:#f5f5f5;
    color: #333;
  }
  &_box{
    width:1020px;
    margin:0 auto;
    font-size:14px;
    display:flex;
  }
}

.side_bar {
  width:280px;
  margin:40px 40px 40px 0 ;
  cursor: pointer;
    & p{
      margin-top:40px;
      font-size: 16px;
      font-weight: bold;
    }
    a {
      color: #333;
    }
  &__main{
    background: #fff;
  }
  &__middle{
    background: #fff;
    height:97px;
    margin-top:8px;
  }
  &__bottom{
    background: #fff;
    height:342px;
    margin-top:8px;
  }
  ul {
    width:280px;
    height:685px;
    > :hover{
      background:#f5f5f580;
    }
    .side_bar_box{
      display: flex;
      justify-content:space-between;
    }
    li {
      height:7.14%;
      border-bottom:solid 1px #f5f5f5;
      display:flex;
      justify-content: space-between;
      a {
        width:100%;
        padding:16px;
        display:block;
      }
      i {
        font-size:15px;
        color: #c9c5c5;
        position:relative;
        top:18px;
        right:10px;
        transform:translateX(0px);
      }
      i:hover{
        transform:translateX(5px);
        transition: all 0.3s;
        color:#000;
      }
    }
  }
}

.main{
  width:700px;
  height:1187px;
  margin:40px 0;
  cursor: pointer;
  &__top_contents{
    background:rgba(240, 214, 240, 0.769);
    height:200px;
    position: relative;
    > :hover{
      color: rgba(48, 46, 46, 0.461);
    }
    &__box{
      width:700px;
      height:111px;
      display:block;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      &__image{
        background: ivory;
        width:60px;
        height:60px;
        margin:0 auto;
        border-radius: 50%;
      }
      &__nickname{
        padding-top:16px;
        font-weight: bold;
        >:hover {
          text-decoration: underline;
          }
      }
      &__status{
        height:16px;
        padding-top:8px;
        display:flex;
        justify-content: center;
        &__evaluation{
          > span{
            margin-left:8px;
            font-weight: bold;
          }
        }
        &__exhibits{
          margin-left:16px;
          > span{
            margin-left:8px;
            font-weight: bold;
          }
        }
      }
    }
  }

  &__middle_menu{
    background: #fff;
    height:567px;
    &__tabs{
      height:74px;
      display:flex;
      > :hover{
        color: rgba(48, 46, 46, 0.461);
      }
      > .infomation{
        width:50%;
        font-size:16px;
        font-weight: bold;
        line-height: 72px;
        text-align: center;
        display:block;
        border-top:solid 2px red;
      }
      > .to_do{
        background:gainsboro;
        width:50%;
        font-size:16px;
        font-weight: bold;
        line-height: 72px;
        text-align: center;
        display:block;
      }
    }
    &__list{
      > ul{
        > :hover{
          background:#f5f5f580;
        }
        > li{
          height:80px;
          padding:16px;
          border-bottom: solid 1px #eee;
          display:block;
          display:flex;
          justify-content:space-between;
          >i{
            margin:auto 0;
            font-size:18px;
          }
        }
        > .go_mypage_list{
          height:93px;
          padding:16px;
          display:block;
          > :hover{
            background: rgba(199, 196, 196, 0.139);
          }
          > p{
            background:#eee;
            height:56px;
            line-height: 56px;
            text-align: center;
          }
        }
      }
      &__mercari_logo {
        width:48px;
        height:48px;
      }
      &__box{
        width:560px;
        height:39px;
        & i{
          font-size:16px;
          color:rgb(151, 150, 150);
        }
        & span{
          color:rgb(151, 150, 150);
        }
      }
    }
  }
  &__bottom_menu{
    background: #fff;
    height:380px;
    margin-top:40px;
    &__title{
      background:#fff;
      height:72px;
      line-height: 72px;
      font-size:16px;
      font-weight: bold;
      padding:0 16px;
      display:block;
    }
    &__tabs{
      height:74px;
      display:flex;
      > :hover{
        color: rgba(48, 46, 46, 0.461);
      }
      > .transaction_now{
        width:50%;
        font-size:16px;
        font-weight: bold;
        line-height: 72px;
        text-align: center;
        display:block;
        border-top:solid 2px red;
      }
      > .transaction_before{
        background:gainsboro;
        width:50%;
        font-size:16px;
        font-weight: bold;
        line-height: 72px;
        text-align: center;
        display:block;
      }
    }
  }
}

.main_box{
  width:700px;
  height:179px;
  margin:40px 0;
  cursor: pointer;
  &__container{
    background:white;
    height:179px;
    padding:64px;
    position: relative;
    &__btn{
      background: #ea352d;
      color: #fff;
      width:320px;
      height:50px;
      line-height: 50px;
      text-align: center;
      margin: auto;
      a{
        color:#fff;
        display:block;
      }
    }
  }
}

.profile_main{
  width:700px;
  height:568px;
  margin:40px 0;
  cursor: pointer;
  &__top{
    background:white;
    height:50px;
    padding:8px 24px;
    font-size:24px;
    font-weight:bold;
    text-align: center;
  }
  &__middle{
    background-image: url(mypage_background.jpg);
    width:700px;
    height:156px;
    padding:72px 16px 24px;
    display:block;
    display:flex;
    justify-content: center;
    &__image{
      background:ivory;
      width:60px;
      height:60px;
      border-radius: 50%;
      text-align: center;
    }
    &__nickname{
      background:white;
      width:220px;
      height:48px;
      padding-top:10px 16px 8px;
      margin:8px;
      border: #ccc solid 1px;
      border-radius: 4px;
    }
  }

  &__bottom{
    background:white;
    height:362px;
    padding:40px 16px;
    cursor: pointer;
    &__introduce{
      width:668px;
      height:216px;
      padding:10px;
      border: #ccc solid 1px;
      font-size:16px;
    }
    &__btn{
      background: #ea352d;
      color: #fff;
      width:668px;
      height:50px;
      margin-top:16px;
      display:block;
      line-height: 50px;
      text-align: center;
      a{
        color:#fff;
      }
    }
  }
}