.header {
  &__menu {
    width:130px;
    height:44px;
    position:absolute;
    right:30px;
    &:hover {
      +.header__puru {
        display:block;
      }
    }
  }
  &__nav {
    height: 44px;
    padding-top: 0px;
    padding-right: 10px;
    position: relative;
    z-index: 3;
    li {
      display:list-item;
    }
  }
  &__puru {
    background:#fff;
    display:none;
    z-index:1;
    position:absolute;
    top:41px;
    right:-65px;
    border:solid 1px rgb(230, 230, 230);
    a {
      color:#333;
      display:block;
      width:100%;
      height:100%;
    }
    &:hover {
      display:block;
    }
    .parent_box {
      width:224px;
      height:100%;
      > .parent_list {
        width:224px;
        height:45px;
        line-height:45px;
        font-size:14px;
        >a:hover {
          color:#eee;
        }
        &:hover {
          background:#ea352d;
          display:block;
          .children_box {
            display:block;
            background:#fff;
          }
          > .children_box:hover {
            display:block;
          }
        }
      }
    }
    .children_box {
      background:#fff;
      width:226px;
      display:none;
      position:absolute;
      top:0px;
      left:224px;
      bottom:0px;
      border:solid 1px rgb(230, 230, 230);
      .children_list {
        font-size:13px;
        height:40px;
        line-height:40px;
      }
      .children_list:hover {
        background:#eee;
        display:block;
        > .grandchildren_box {
          display:block;
          background:#fff;
          height:auto;
        }
      }
      > .children_list > .grandchildren_box:hover {
        display:block;
        background:#fff;
        border:solid 1px rgb(230, 230, 230);
      }
    }
    .grandchildren_box {
      width:320px;
      display:none;
      position:absolute;
      top:0px;
      left:224px;
      bottom:0px;
      border:solid 1px rgb(230, 230, 230);
      .grandchildren_list {
        font-size:13px;
        height:40px;
        line-height:40px;
      }
      > .grandchildren_list:hover {
        width:320px;
        display:block;
        background:#eee;
      }
    }
  }
}