.header {
  &__menu {
    width:130px;
    height:44px;
    position:absolute;
    right:30px;
    &:hover {
      +.header__puru {
        display:block;
      }
    }
  }
  &__nav {
    height: 44px;
    padding-top: 0px;
    padding-right: 10px;
    position: relative;
    z-index: 3;
    li {
      font-size:14px;
      display:list-item;
    }
  }
  &__puru {
    background:#fff;
    display:none;
    z-index:1;
    position:absolute;
    top:41px;
    right:-65px;
    border:solid 1px rgb(230, 230, 230);
    &:hover {
      display:block;
    }
    a {
      display:block;
      color:rgb(51, 51, 51);
      &:hover {
        color:#fff;
      }
    }
    > #parent_list {
      width:224px;
      height:100%;
      > li {
        height:50px;
        line-height:50px;
        width:224px;
        &:hover {
          background:#ea352d;
          color:#fff;
          display:block;
          + #child_list {
            display:block;
            background:#fff;
          }
        }
        + ul:hover {
          display:block;
        }
      }
    }
    #child_list {
      background:#fff;
      width:226px;
      // display:none;
      position:absolute;
      top:0px;
      left:224px;
      bottom:0px;
      border:solid 1px rgb(230, 230, 230);
      > li {
        padding:4px 0;

      }
      > li:hover {
        background:#eee;
        display:block;
        + ul {
          display:block;
          background:#fff;
          height:auto;
        }
      }
      > li + ul:hover {
        display:block;
        background:#fff;
        border:solid 1px rgb(230, 230, 230);
      }
    }
  }
}
