.header {
  &__menu {
    width:130px;
    height:20px;
    position:absolute;
    right:30px;
    &:hover +.header__puru {
      display:block;
    }
  }
  &__nav {
    height: 44px;
    padding-top: 0px;
    padding-right: 10px;
    position: relative;
    z-index: 3;
    li {
      font-size:14px;
      display:list-item;
      padding:13px 0px;
    }
  }
  &__puru {
    background:#fff;
    display:none;
    z-index:1;
    position:absolute;
    top:20px;
    right:-65px;
    border:solid 1px rgb(230, 230, 230);
    &:hover {
      display:block;
    }
    > ul {
      width:224px;
      height:100%;
      > li {
        width:224px;
        &:hover {
          background:#ea352d;
          color:#fff;
          display:block;
          + ul {
            display:block;
            background:#fff;
          }
        }
        + ul:hover {
          display:block;
        }
      }
      > ul {
        background:#fff;
        width:226px;
        display:none;
        position:absolute;
        top:0px;
        left:224px;
        bottom:0px;
        border:solid 1px rgb(230, 230, 230);
        > li:hover {
          background:#eee;
          display:block;
          + ul {
            display:block;
            background:#fff;
            height:auto;
          }
        }
        > li + ul:hover {
          display:block;
          background:#fff;
          border:solid 1px rgb(230, 230, 230);
        }
        > ul {
          width:320px;
          display:none;
          position:absolute;
          top:0px;
          left:224px;
          bottom:0px; 
          border:solid 1px rgb(230, 230, 230);
          > li:hover {
            width:320px;
            display:block;
            background:#eee;
          }
        }
      }
    }
  }
}