.detail {
  background:#f5f5f5;
  width:100vw;
  height: 100%;
  margin:0 auto;
  padding:40px 0;
} 
//--アイテム ここから--//
.detail_container {
  background: white;
  width:700px;
  height: 100%;
  margin:0px auto 40px;
  padding: 24px 35px 40px; 
  .item_name {
    background: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    line-height: 1.4;
  }
  .item_about {
    margin: 8px 0 0;
    font-size: 14px;
    color: #888;
    line-height: 1.5;
  }
//--アイテム  ここから--//
  .container_wrap{
    display:flex;
      .item_container{
      width: 300px;
      display: flex;
      flex-direction:column;
      &__image{
        background-color:khaki;
        width: 100%;
        height: 300px;
        position: relative;
        margin: 0 auto;
        float: left;
        // justify-content: flex-start;
      }
      &__list{
        width: 100%;
        height: 30px;
        // background: #888;
        display:flex;
        li{
          // flex-direction: row;
          background:#f5f5f5;
          width: 60px;
          height:60px;
        }
      }
    }
    .item_table{
      display:flex;
      width: 50%;
      height:50%;
      margin: 0 auto;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
      border-spacing: 0;
      font-size :14px;
      justify-content: flex-end;
      th{
        width: 39%;
        text-align: left;
        font-weight: 400;
        background: #fafafa;
      }
      td{
        width: 70%;
        a {
          color: #0099e8;
        }
          .evaluation{
            margin-top:8px;
            .face{
              width: 16px;
              height:16px;
            }
        }
      }
      th,td{
        border:solid 1px #ebebeb;
        padding : 20px 10px;
      }
    }
  }
  .item_pricebox{
    margin: 24px 0 0;
    text-align: center;
      &__price{
      font-weight: 600;
      margin: 0 16px 0 0;
      font-size: 50px;
      }
      &__tax{
      font-size: 10px;
      }
      &__fee{
      font-size: 16px;
      }
  }
  .item_buy{
    background: #ea352d;
    width:600px;
    height: 60px;
    line-height: 56px;
    text-align: center;
    margin: 16px auto;
    font-weight: 600;
    font-size: 24px;
    > a {
      color: #fff;
      display:block;
    }
  }
  .item_description{
    width:620px;
    margin:32px auto;
  }
  .item_btn_container{
    background:white;
    width: 620px;
    height: 33px;
    color: #333;
    margin:16px auto;
    display: flex;
    font-size: 14px;
    display: flex;
      &__btn {
        display: block;
        width:100px;
        line-height:33px;
        border-radius:40px;
        // border:solid 1px red;
      }
      &__btn_report{
      background: #f5f5f5;
      display: inline-block;
      margin-left: 16px;
      padding: 8px 16px;
      border-radius: 40px;
      }
      &__btn_declaration{
      color: #0099e8;
      display: inline-block;
      margin-left: 45px;
      padding: 8px 16px;
    }
  }
}
.nav_item_link{
  background:#f5f5f5;
  height: 60px;
  color: #0099e8;
  display: flex;
  justify-content:space-between;
  font-size: 14px;
  a {
    color: #0099e8;
  }
    &__icon_left{
      display: inline-block;
      padding: 8px 16px;
    }
    &__icon_right{
    margin-left: 16px;
    padding: 8px 16px;
    }
    &__btn_declaration{
    color: #0099e8;
    margin-left: 45px;
    padding: 8px 16px;
  }
}
.media_box {
  background:white;
  // width: 700px;
  margin: 24px auto;
  padding: 32px 0 24px;
  &__center{
    display: flex;
    justify-content: center;
    i {
      font-size:35px;
      color:#fff;
      padding-top:4px;
      padding-left:6px;
    }
    .icon_facebook{
      background:#385185;
      width: 44px;
      height: 44px;
      margin:8px;
      border-radius: 4px;
    }
    .icon_twitter{
      background:#5D9DC9;
      width: 44px;
      height: 44px;
      margin:8px;
      border-radius: 4px;
    }
    .icon_pinterest{
      background:#AA262A;
      width: 44px;
      height: 44px;
      margin:8px;
      border-radius: 4px;
    }
  }
}
.other_item_container_big{
  background:#f5f5f5;
  padding-top:10px;
  a {
    color: #0099e8;
    font-size: 22px;
    font-weight: 400;
  }
}
.other_item {
  &_container {
    display:flex;
    flex-wrap: wrap;
    &__other_item{
      height:330px;
      width:195px;
      margin:10px 7px 0;
    }
  }
  &__image{
    width:195px;
    height:180px;
    display:flex;
    border:solid 1px;
    position:relative;
    overflow: hidden;
  }
  &__contents{
    background:white;
    height: 100px;
    &__other_item__name {
      height:48px;
      margin-bottom:10px;
      padding:5px;
      overflow:hidden;
    }
    a {
      width:188px;
      height:48px;
      font-size: 16px;
      font-weight: 400;
      color:#000;
    }
  }
}

.user_smile {
  width:25px;
}

.sold_item__btn {
  width:600px;
  height: 60px;
  line-height: 56px;
  text-align: center;
  margin: 16px auto;
  font-weight: 600;
  font-size: 24px;
  background:gray;
  p {
    color:#fff;
  }
}

.item_image {
  width:300px;
  height:300px;
}

.show_image {
  width:195px;
  height:180px;
}


.item__goods {
  background:#f5f5f5;
  border-radius:40px;
  &:hover {
    background:rgb(255, 185, 185);
    transition: .4s;
    border:solid 1px rgb(0, 30, 129);
    color:#fff;
    border:solid 1px rgb(255, 126, 126);
  }
    a {
    color:#333;
    &:hover {
      color:#fff;
      transition: .4s;
    }
  }
}

.good_now {
  border:solid 1px rgb(255, 126, 126);
  * {
    color:rgb(255, 78, 78);
  }
  &_heart {
    font-size:20px;
  }
}

.balloon {
  position: relative;
  left:10px;
  top:20px;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 90px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: rgb(255, 184, 184);
  border-radius: 15px;
  opacity:0;
}

.balloon:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid rgb(255, 184, 184);
}

.balloon p {
  margin: 0;
  padding: 0;
  color:rgb(255, 109, 109);
}

.buy_image {
  width:80px;
  height:100px;
}