.sign_in {
  width:100%;
  height:100%;
  &__page {
    background:rgb(246, 246, 246);
    width:100%;
    height:100%;
  }
  &__header {
    text-align:center;
  }
  &__logo {
    padding:20px 0;
  }
  &__main {
    text-align:center;
  }
  &__main__panel {
    background:#fff;
    width:456px;
    margin: 0 auto;
    padding-bottom:20px;
    &__acount {
      padding:32px 64px;
      border-bottom:solid 1px rgb(230, 230, 230);
      > p {
        font-size:14px;
      }
      > a {
        background:#0099e8;
        color:#fff;
        width:100%;
        height: 40px;
        font-size:14px;
        display:inline-block;
        text-decoration: none;
        line-height:40px;
      }
    }
    &__other {
      padding:32px 64px;
      &__fb {
        background:#385185;
        color:#fff;
        width:100%;
        margin-bottom:10px;
        text-decoration: none;
        padding:13px 80px;
      }
      &__go {
        background:#fff;
        color:#000;
        width:100%;
        text-decoration: none;
        padding:13px 80px;
        border:solid 1px gray;
      }
    }
    &_form {
      > form {
        padding:24px 64px 32px;
        .no_robot {
          width:100%;
          height:40px;
          border:solid 1px;
          margin-bottom:20px;
          }
        }
      & input {
        width:100%;
        height:40px;
        border-radius: 5px;
        margin-bottom:20px;
      }
      & .pass_forbidden {
        color: #0099e8;
        font-size:12px;
        float:left;
      }
    }
  }
  &__button {
    background:#ea352d;
    color:#fff;
    font-size:14px;
    border:none;
  }
}

.registration__footer {
  width:456px;
  margin: 15px auto 10px;
  padding: 20px 0px 0px;
  text-align:center;
  & > ul {
    display:flex;
  }
  & li {
    font-size:12px;
    margin:0 auto;
  }
  & a {
    color: #333;
    text-decoration: none;
  }
  & button {
    background:rgb(246, 246, 246);
    border:none;
  }
  & img {
    margin:40px 0 5px;
    width:70px;
  }
  & p {
    font-size:12px;
  }
}
