//サインインページより
.sign_in {
  &__page {
    background:rgb(240, 240, 240);
    width:100vw;
    height:100vh;
  }
  &__header {
    text-align:center;
  }
  &__logo {
    margin:20px 0;
  }
  &__main {
    text-align:center;
  }
}
//サインインページより

.registration__contents__title{
  background-color: white;
  width: 700px;
  height: 97px;
  text-align: center;
  margin: auto;
  font-size: 22px;
  padding: 32px;
  border-bottom: ridge;
}

.registration__contents__lists{
  background-color: white;
  width: 700px;
  height: 247px;
  text-align: center;
  font-size: 14px;
  margin: auto;
  padding: 24px 16px 40px;
}

.registration__contents__contents__lists__list__mail{
  width: 343px;
  height: 50px;
  background-color: red;
  color:white;
  border-radius: 5px;
  margin: 16px auto;
}

.registration__contents__contents__lists__list__facebook{
  background-color: blue;
  color: white;
  border-radius: 5px;
  width: 343px;
  height: 50px;
  margin: 16px auto;
}

.registration__contents__contents__lists__list__google{
  background-color: white;
  border-radius: 5px;
  border: solid;
  width: 343px;
  height: 50px;
  margin: 16px auto;
}



//サインインページより

.sign_in__footer {
  width:456px;
  margin: 0 auto;
  padding: 20px 0;
  font-size:10px;
  text-align:center;
  & > ul {
    display:flex;
    list-style:none;
  }
  & li {
    margin:0 15px;
  }
  & a {
    color: #333;
    text-decoration: none;
  }
  & p {
    font-size:13px;
  }
}

//サインインページより