.registration__contents__title{
  background-color: white;
  width: 700px;
  height: 97px;
  text-align: center;
  margin: auto;
  font-size: 22px;
  padding: 32px;
  border-bottom: ridge;
}

.registration__contents__lists{
  background-color: white;
  width: 700px;
  height: 247px;
  text-align: center;
  font-size: 14px;
  margin: auto;
  padding: 24px 16px 40px;
}

.registration__contents__contents__lists__list__mail{
  width: 343px;
  height: 50px;
  background-color: red;
  color:white;
  border-radius: 5px;
  margin: 16px auto;
}

.registration__contents__contents__lists__list__facebook{
  background-color: blue;
  color: white;
  border-radius: 5px;
  width: 343px;
  height: 50px;
  margin: 16px auto;
}

.registration__contents__contents__lists__list__google{
  background-color: white;
  border-radius: 5px;
  border: solid;
  width: 343px;
  height: 50px;
  margin: 16px auto;
}