.item_edit_container {
  background:white;
  width: 700px;
  height:262px;
  margin: 24px auto;
  padding: 8px 16px;
  >li{
    background: #aaa;
    width: 668px;
    height: 50px;
    line-height: 50px;
    margin:16px 0;
    color:white;
    text-align: center;
    >a{
      display:block;
      width:100%;
      color:white;
    }
  }
  >.edit{
    background: #ea352d;
  }
  > p{
    text-align: center;
  }
}

.item_comment_container {
  background:white;
  width: 700px;
  height:280px;
  margin: 24px auto;
  padding: 8px 16px;
  &__info{
    background: #fff6de;
    width: 668px;
    height: 50px;
    padding:4px 8px;
    margin:16px auto;
    font-size:14px;
    text-align: left;
  }
  >input{
    width: 668px;
    height: 100px;
  }
  &__btn{
    background: #aaa;
    width: 668px;
    height: 50px;
    line-height: 50px;
    margin:16px auto;
    color:white;
    text-align: center;
  }
}