.registration__footer
  %ul
    %li
      %a{href: "#"} プライバシーポリシー
    %li
      %a{href: "#"} メルカリ利用規約
    %li
      %a{href: "#"} 特定商取引に関数表記
  =link_to "/" do
    =image_tag "footer_logo.png", class: "logo"
  %p © 2019 Mercari
